# groupby( )
Esta función permite agrupar datos en función de los de más. Es decir, hacer el análisis del df en función de una de las columnas que

* Al analizar algunos parámetros, varios elementos del dataset pueden tener parámetros que se repiten (como el género de un libro) **de manera que tienen algo en común**

    * Esto permite agrupar los elementos, puediendo analizar el comportamiento de varias columnas agrupadas por cosas en común
        * pudiendo saber E/M ¿cuántos libros se tienen de un género específico? ó ¿Cuál es la media de un comportamiento que tienen en común un grupo de parámetros?

Estos son los pasos a seguir:
 * Agrupar desde una columna específica por medio de la función `df.groupby('columna')` con los siguientes argumentos:
    * Se coloca la columna desde la cuál se requiere agrupar el dataset

In [2]:
import pandas as pd

In [17]:
path = '../data/bestsellers_with_categories.csv'
names= ['Nombre', 'Autor', 'Aprobacion', 'Reviews', 'Precio', 'Año', 'Genero']

data = pd.read_csv(path, sep=',', header = 0, names = names)
df_books = pd.DataFrame(data)
df_books.head(3)

,Nombre,Autor,Aprobacion,Reviews,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

In [22]:
# agrupar por autor para ver qué tantos registros tiene cada uno de estos
df_books.groupby('Autor').count()

                            Nombre  Aprobacion  Reviews  Precio  Año  Genero
Autor
Abraham Verghese                 2           2        2       2    2       2
Adam Gasiewski                   1           1        1       1    1       1
Adam Mansbach                    1           1        1       1    1       1
Adir Levy                        1           1        1       1    1       1
Admiral William H. McRaven       1           1        1       1    1       1
...                            ...         ...      ...     ...  ...     ...
Walter Isaacson                  3           3        3       3    3       3
William Davis                    2           2        2       2    2       2
William P. Young                 2           2        2       2    2       2
Wizards RPG Team                 3           3        3       3    3       3
Zhi Gang Sha                     2           2        2       2    2       2

[248 rows x 6 columns]

#### implementación: 
*para mostrar el conteo de los datos usamos la función `.count()`* usando ambas funciones juntas, se vería de la siguiente forma:
 * `df_books.groupby('Autor').count()` agrupar por la columna *Autor* y mostrar el conteo de los datos de las demás columnas
 * `df_books.groupby('Autor').median()` agrupar por la columna *autor* y mostrar la mediana de los datos de las demás columnas

 La columna *Autor* em casos anteriores pasa a ser el índice(por eso la columna *autor* se ve un poco más abajo de las demás)
 * gracias a que al usar el `df_books.groupby('Autor')` la "columna" se convierte en un índice. Podemos usar `.loc` y acceder a un dato en específico del df. 
 
 * `df_books.groupby('Autor').sum().loc['William Davis']`: Agrupar por columna *Autor* y mostrar la suma de los valores de las demás columnas para: 'William Davis'

 * `df_books.groupby('Autor').sum().reset_index()` agrupar por *Autor* y mostrar la suma de los valores delas demás columnas
   * colocar los índices que el df trae por defecto por medio de `reset_index()`, vuelve al dataset a su estado anterior, es decir que la *columna* que antes era el índice, vuelve a ser un atributo normal y se pude volver a tratar el dataset tal como estaba antes de hacer el `groupby`

In [13]:
# agrupando por columna Autor: 
# mostrar el número de ocurrencias, contanto la cantidad de veces que se repiten los elementos
df_books.groupby('Autor').count()

                            Nombre  Aprobacion  Reviews  Precio  Año  Genero
Autor
Abraham Verghese                 2           2        2       2    2       2
Adam Gasiewski                   1           1        1       1    1       1
Adam Mansbach                    1           1        1       1    1       1
Adir Levy                        1           1        1       1    1       1
Admiral William H. McRaven       1           1        1       1    1       1
...                            ...         ...      ...     ...  ...     ...
Walter Isaacson                  3           3        3       3    3       3
William Davis                    2           2        2       2    2       2
William P. Young                 2           2        2       2    2       2
Wizards RPG Team                 3           3        3       3    3       3
Zhi Gang Sha                     2           2        2       2    2       2

[248 rows x 6 columns]

In [33]:
#para calcular la media, seleccionamos las columnas numéricas, y la columna con la que agrupamos
df_numeric = df_books[['Aprobacion','Reviews', 'Precio', 'Año', 'Autor']]
df_numeric.groupby('Autor').mean()

# lo mismo con el máximo
df_books.groupby('Autor').max()

# sumamos las ocurrencias de cada uno de los autores sumando(todas las aprobaciones, reviews)
df_books.groupby('Autor').sum()

,Nombre,Aprobacion,Reviews,Precio,Año,Genero
Autor,,,,,,
Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

En este momento *autor* se comporta como el índice del df

In [29]:
# agrupar por autor, y a partir de este buscar el mínimo de cada columna. En función del autor
df_books.groupby('Autor').min()

,Nombre,Aprobacion,Reviews,Precio,Año,Genero
Autor,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da Vinci,4.5,3014,20,2011,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2012,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2009,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2017,Fiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,4.6,37,6,2009,Non Fiction

Dado que el autor se comporta como el índice del df, pocemos usar `.loc` buscando por etiquetas

In [34]:
# agrupar por Autor, mostrar la suma de los valores  de las columnas para autor = William Davis
df_books.groupby('Autor').sum().loc['William Davis']

Nombre        Wheat Belly: Lose the Wheat, Lose the Weight, ...
Aprobacion                                                  8.8
Reviews                                                   14994
Precio                                                       12
Año                                                        4025
Genero                                   Non FictionNon Fiction
Name: William Davis, dtype: object

El resultado sigue siendo un agrupamiento específico por *autor* en cuanto a sumas

Ahora, reseteamos el índices para que *autor* ya no sea el índice, sino parte de las columnas

In [35]:
df_books.groupby('Autor').sum().reset_index()

,Autor,Nombre,Aprobacion,Reviews,Precio,Año,Genero
0,Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
245,William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
247,Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

In [39]:
df_books.groupby('Autor').describe().T

Autor             Abraham Verghese  Adam Gasiewski  Adam Mansbach  Adir Levy
Aprobacion count          2.000000             1.0            1.0        1.0  \
           mean           4.600000             4.4            4.8        4.8
           std            0.000000             NaN            NaN        NaN
           min            4.600000             4.4            4.8        4.8
           25%            4.600000             4.4            4.8        4.8
           50%            4.600000             4.4            4.8        4.8
           75%            4.600000             4.4            4.8        4.8
           max            4.600000             4.4            4.8        4.8
Reviews    count          2.000000             1.0            1.0        1.0
           mean        4866.000000          3113.0         9568.0     8170.0
           std            0.000000             NaN            NaN        NaN
           min         4866.000000          3113.0         9568.0     8170.0
           25%         4866.000000          3113.0         9568.0     8170.0
           50%         4866.000000          3113.0         9568.0     8170.0
           75%         4866.000000          3113.0         9568.0     8170.0
           max         4866.000000          3113.0         9568.0     8170.0
Precio     count          2.000000             1.0            1.0        1.0
           mean          11.000000             6.0            9.0       13.0
           std            0.000000             NaN            NaN        NaN
           min           11.000000             6.0            9.0       13.0
           25%           11.000000             6.0            9.0       13.0
           50%           11.000000             6.0            9.0       13.0
           75%           11.000000             6.0            9.0       13.0
           max           11.000000             6.0            9.0       13.0
Año        count          2.000000             1.0            1.0        1.0
           mean        2010.500000          2017.0         2011.0     2019.0
           std            0.707107             NaN            NaN        NaN
           min         2010.000000          2017.0         2011.0     2019.0
           25%         2010.250000          2017.0         2011.0     2019.0
           50%         2010.500000          2017.0         2011.0     2019.0
           75%         2010.750000          2017.0         2011.0     2019.0
           max         2011.000000          2017.0         2011.0     2019.0

Autor             Admiral William H. McRaven  Adult Coloring Book Designs
Aprobacion count                         1.0                          1.0  \
           mean                          4.7                          4.5
           std                           NaN                          NaN
           min                           4.7                          4.5
           25%                           4.7                          4.5
           50%                           4.7                          4.5
           75%                           4.7                          4.5
           max                           4.7                          4.5
Reviews    count                         1.0                          1.0
           mean                      10199.0                       2313.0
           std                           NaN                          NaN
           min                       10199.0                       2313.0
           25%                       10199.0                       2313.0
           50%                       10199.0                       2313.0
           75%                       10199.0                       2313.0
           max                       10199.0                       2313.0
Precio     count                         1.0                          1.0
           mean                         11.0                          4.0
           std                           NaN                          NaN
           min                          11.0                          4.0
           25%                          11.0                          4.0
           50%                          11.0                          4.0
           75%                          11.0                          4.0
           max                          11.0                          4.0
Año        count                         1.0                          1.0
           mean                       2017.0                       2016.0
           std                           NaN                          NaN
           min                        2017.0                       2016.0
           25%                        2017.0                       2016.0
           50%                        2017.0                       2016.0
           75%                        2017.0                       2016.0
           max                        2017.0                       2016.0

Autor             Alan Moore  Alex Michaelides  Alice Schertle  Allie Brosh
Aprobacion count         1.0               1.0             1.0          1.0  \
           mean          4.8               4.5             4.9          4.7
           std           NaN               NaN             NaN          NaN
           min           4.8               4.5             4.9          4.7
           25%           4.8               4.5             4.9          4.7
           50%           4.8               4.5             4.9          4.7
           75%           4.8               4.5             4.9          4.7
           max           4.8               4.5             4.9          4.7
Reviews    count         1.0               1.0             1.0          1.0
           mean       3829.0           27536.0          1884.0       4896.0
           std           NaN               NaN             NaN          NaN
           min        3829.0           27536.0          1884.0       4896.0
           25%        3829.0           27536.0          1884.0       4896.0
           50%        3829.0           27536.0          1884.0       4896.0
           75%        3829.0           27536.0          1884.0       4896.0
           max        3829.0           27536.0          1884.0       4896.0
Precio     count         1.0               1.0             1.0          1.0
           mean         42.0              14.0             0.0         17.0
           std           NaN               NaN             NaN          NaN
           min          42.0              14.0             0.0         17.0
           25%          42.0              14.0             0.0         17.0
           50%          42.0              14.0             0.0         17.0
           75%          42.0              14.0             0.0         17.0
           max          42.0              14.0             0.0         17.0
Año        count         1.0               1.0             1.0          1.0
           mean       2009.0            2019.0          2014.0       2013.0
           std           NaN               NaN             NaN          NaN
           min        2009.0            2019.0          2014.0       2013.0
           25%        2009.0            2019.0          2014.0       2013.0
           50%        2009.0            2019.0          2014.0       2013.0
           75%        2009.0            2019.0          2014.0       2013.0
           max        2009.0            2019.0          2014.0       2013.0

Autor             ...    Todd Burpo  Tony Hsieh  Tucker Carlson
Aprobacion count  ...      2.000000         1.0             1.0  \
           mean   ...      4.700000         4.6             4.8
           std    ...      0.000000         NaN             NaN
           min    ...      4.700000         4.6             4.8
           25%    ...      4.700000         4.6             4.8
           50%    ...      4.700000         4.6             4.8
           75%    ...      4.700000         4.6             4.8
           max    ...      4.700000         4.6             4.8
Reviews    count  ...      2.000000         1.0             1.0
           mean   ...  15779.000000      1651.0          3923.0
           std    ...      0.000000         NaN             NaN
           min    ...  15779.000000      1651.0          3923.0
           25%    ...  15779.000000      1651.0          3923.0
           50%    ...  15779.000000      1651.0          3923.0
           75%    ...  15779.000000      1651.0          3923.0
           max    ...  15779.000000      1651.0          3923.0
Precio     count  ...      2.000000         1.0             1.0
           mean   ...     10.000000        15.0            16.0
           std    ...      0.000000         NaN             NaN
           min    ...     10.000000        15.0            16.0
           25%    ...     10.000000        15.0            16.0
           50%    ...     10.000000        15.0            16.0
           75%    ...     10.000000        15.0            16.0
           max    ...     10.000000        15.0            16.0
Año        count  ...      2.000000         1.0             1.0
           mean   ...   2011.500000      2010.0          2018.0
           std    ...      0.707107         NaN             NaN
           min    ...   2011.000000      2010.0          2018.0
           25%    ...   2011.250000      2010.0          2018.0
           50%    ...   2011.500000      2010.0          2018.0
           75%    ...   2011.750000      2010.0          2018.0
           max    ...   2012.000000      2010.0          2018.0

Autor             Veronica Roth  W. Cleon Skousen  Walter Isaacson
Aprobacion count       4.000000               1.0         3.000000  \
           mean        4.400000               4.8         4.566667
           std         0.336650               NaN         0.057735
           min         3.900000               4.8         4.500000
           25%         4.350000               4.8         4.550000
           50%         4.550000               4.8         4.600000
           75%         4.600000               4.8         4.600000
           max         4.600000               4.8         4.600000
Reviews    count       4.000000               1.0         3.000000
           mean    19547.500000            1680.0      6222.666667
           std      9877.991344               NaN      2778.786846
           min      6310.000000            1680.0      3014.000000
           25%     14840.500000            1680.0      5420.500000
           50%     22391.000000            1680.0      7827.000000
           75%     27098.000000            1680.0      7827.000000
           max     27098.000000            1680.0      7827.000000
Precio     count       4.000000               1.0         3.000000
           mean       12.250000              12.0        20.333333
           std         4.272002               NaN         0.577350
           min         6.000000              12.0        20.000000
           25%        11.250000              12.0        20.000000
           50%        14.000000              12.0        20.000000
           75%        15.000000              12.0        20.500000
           max        15.000000              12.0        21.000000
Año        count       4.000000               1.0         3.000000
           mean     2013.500000            2009.0      2013.333333
           std         0.577350               NaN         3.214550
           min      2013.000000            2009.0      2011.000000
           25%      2013.000000            2009.0      2011.500000
           50%      2013.500000            2009.0      2012.000000
           75%      2014.000000            2009.0      2014.500000
           max      2014.000000            2009.0      2017.000000

Autor             William Davis  William P. Young  Wizards RPG Team
Aprobacion count       2.000000          2.000000               3.0  \
           mean        4.400000          4.600000               4.8
           std         0.000000          0.000000               0.0
           min         4.400000          4.600000               4.8
           25%         4.400000          4.600000               4.8
           50%         4.400000          4.600000               4.8
           75%         4.400000          4.600000               4.8
           max         4.400000          4.600000               4.8
Reviews    count       2.000000          2.000000               3.0
           mean     7497.000000      19720.000000           16990.0
           std         0.000000          0.000000               0.0
           min      7497.000000      19720.000000           16990.0
           25%      7497.000000      19720.000000           16990.0
           50%      7497.000000      19720.000000           16990.0
           75%      7497.000000      19720.000000           16990.0
           max      7497.000000      19720.000000           16990.0
Precio     count       2.000000          2.000000               3.0
           mean        6.000000          8.000000              27.0
           std         0.000000          0.000000               0.0
           min         6.000000          8.000000              27.0
           25%         6.000000          8.000000              27.0
           50%         6.000000          8.000000              27.0
           75%         6.000000          8.000000              27.0
           max         6.000000          8.000000              27.0
Año        count       2.000000          2.000000               3.0
           mean     2012.500000       2013.000000            2018.0
           std         0.707107          5.656854               1.0
           min      2012.000000       2009.000000            2017.0
           25%      2012.250000       2011.000000            2017.5
           50%      2012.500000       2013.000000            2018.0
           75%      2012.750000       2015.000000            2018.5
           max      2013.000000       2017.000000            2019.0

Autor             Zhi Gang Sha
Aprobacion count      2.000000
           mean       4.600000
           std        0.000000
           min        4.600000
           25%        4.600000
           50%        4.600000
           75%        4.600000
           max        4.600000
Reviews    count      2.000000
           mean     128.500000
           std      129.400541
           min       37.000000
           25%       82.750000
           50%      128.500000
           75%      174.250000
           max      220.000000
Precio     count      2.000000
           mean      11.500000
           std        7.778175
           min        6.000000
           25%        8.750000
           50%       11.500000
           75%       14.250000
           max       17.000000
Año        count      2.000000
           mean    2011.000000
           std        2.828427
           min     2009.000000
           25%     2010.000000
           50%     2011.000000
           75%     2012.000000
           max     2013.000000

[32 rows x 248 columns]

### otras funciones útiles

* **.apply()**: la usamos como si fuera `agg()` pero cuando sólo queremos colocar una función
    * importante aclarar que con `agg()` se aceptan 2 ó más funciones para usarse en el dataset

\
* **.sample()**: analizar los resultados por medio de un "sample" aleatorio
  * en este caso se está agrupando por autor(índice) analizando el mínimo y máximo de cada una de las columnas
    * así: `df_books.groupby('Autor').agg(['min','max']).sample()`

In [52]:
df_books.groupby('Autor').agg(['min', 'max']).sample()

                       Nombre                   Aprobacion      Reviews
                          min               max        min  max     min
Autor
Craig Smith  The Wonky Donkey  The Wonky Donkey        4.8  4.8   30183  \

                   Precio       Año         Genero
               max    min max   min   max      min      max
Autor
Craig Smith  30183      4   4  2018  2019  Fiction  Fiction

#### agg( ) funciones de agregación

`.agg()` permite aplicar varias funciones al df una vez agrupado según una columna específica.

##### implementación
Agrupar por columna: **Autor** y mostrar el mínimo y máximo de las demás columnas. consiste
* mostrar cada columna dividida en dos: *min max* Estas contienen los valores máx/min de las columnas por cada *autor*

  * Hay que notar que la columna *Autor* pasa a ser el index , y se quieresaber el min/max por cada columna que estoy trabajando

    * Dentro de `.agg()` se están sacando dos métricasdistintas: el min/max, anque se podría hacer también la suma y el conteo, ó cosas más específicas

    así: `df_books.groupby('Autor').agg(['min','max'])`

In [41]:
# agrupar por autor, usando funcioens de agregación 
df_books.groupby('Autor').agg(['min','max'])

                                                                       Nombre
                                                                          min
Autor
Abraham Verghese                                            Cutting for Stone  \
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...


                                                                          max
Autor
Abraham Verghese                                            Cutting for Stone  \
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           Aprobacion      Reviews        Precio       Año
                                  min  max     min    max    min max   min
Autor
Abraham Verghese                  4.6  4.6    4866   4866     11  11  2010  \
Adam Gasiewski                    4.4  4.4    3113   3113      6   6  2017
Adam Mansbach                     4.8  4.8    9568   9568      9   9  2011
Adir Levy                         4.8  4.8    8170   8170     13  13  2019
Admiral William H. McRaven        4.7  4.7   10199  10199     11  11  2017
...                               ...  ...     ...    ...    ...  ..   ...
Walter Isaacson                   4.5  4.6    3014   7827     20  21  2011
William Davis                     4.4  4.4    7497   7497      6   6  2012
William P. Young                  4.6  4.6   19720  19720      8   8  2009
Wizards RPG Team                  4.8  4.8   16990  16990     27  27  2017
Zhi Gang Sha                      4.6  4.6      37    220      6  17  2009

                                       Genero
                             max          min          max
Autor
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

In [47]:
# agrupar por la columna Autor y Año. Y contar los valores de las demás columnas
df_books.groupby(['Autor', 'Año']).count()

                       Nombre  Aprobacion  Reviews  Precio  Genero
Autor            Año
Abraham Verghese 2010       1           1        1       1       1
                 2011       1           1        1       1       1
Adam Gasiewski   2017       1           1        1       1       1
Adam Mansbach    2011       1           1        1       1       1
Adir Levy        2019       1           1        1       1       1
...                       ...         ...      ...     ...     ...
Wizards RPG Team 2017       1           1        1       1       1
                 2018       1           1        1       1       1
                 2019       1           1        1       1       1
Zhi Gang Sha     2009       1           1        1       1       1
                 2013       1           1        1       1       1

[493 rows x 5 columns]

### usar .agg( ) con funciones lambda

Respecto a `agg()` se pueden usar las funciones *lambda* en esta. Resulta de ayuda para obtener funciones "custom" ya sea para modificar un valor ó para filtar valores.

* A la columna `Año` se le resta 2000 a los años y se obtiene una lista de los últimos dos dígitos del año relacionado por cada autos
    `df_books.groupby('Autor').agg({'Año' : lambda x: [i - 2000] for i in x })`

* otra forma de usarlo es: los *Reviews* en vez de sumar cada valor (con `sum()`), se suma el cuadrado de sus valores:
    `df_books.groupby('Reviews').agg( { 'Reviews' : ['min' , 'max'], 'Aprobacion' : 'sum' } )`

    * Nuevamente, la columna *Autor* pasa a ser el índice, se tienen los max/min de los "Reviews", a parte del *Aprobacion* (user rating) donde se tiene la suma de los valores agrupados por el índice *autor*

In [5]:
df_books.groupby('Autor').agg( { 'Año' : lambda x: [i - 2000] for i  in x} )

NameError: name 'x' is not defined

Agrupando por autor, desde un diccionario tomar columna "reviews", de estos tomas el min/max , y desde la columna "aprobacion" tomar la suma

In [44]:
# agrupamiento por autor, y sacar el min/max de reviews, y la suma de aprobación
df_books.groupby('Autor').agg( { 'Reviews': ['min', 'max'], 'Aprobacion': 'sum' } )

                           Reviews        Aprobacion
                               min    max        sum
Autor
Abraham Verghese              4866   4866        9.2
Adam Gasiewski                3113   3113        4.4
Adam Mansbach                 9568   9568        4.8
Adir Levy                     8170   8170        4.8
Admiral William H. McRaven   10199  10199        4.7
...                            ...    ...        ...
Walter Isaacson               3014   7827       13.7
William Davis                 7497   7497        8.8
William P. Young             19720  19720        9.2
Wizards RPG Team             16990  16990       14.4
Zhi Gang Sha                    37    220        9.2

[248 rows x 3 columns]

                       Nombre  Aprobacion  Reviews  Precio  Genero
Autor            Año
Abraham Verghese 2010       1           1        1       1       1
                 2011       1           1        1       1       1
Adam Gasiewski   2017       1           1        1       1       1
Adam Mansbach    2011       1           1        1       1       1
Adir Levy        2019       1           1        1       1       1
...                       ...         ...      ...     ...     ...
Wizards RPG Team 2017       1           1        1       1       1
                 2018       1           1        1       1       1
                 2019       1           1        1       1       1
Zhi Gang Sha     2009       1           1        1       1       1
                 2013       1           1        1       1       1

[493 rows x 5 columns]

En este caso dos columnas *autor* y *año* son tratadas como un ínide (llave compuesta) y se pueden ve cuántos registros se tienen de cada elementos, que en este caso es por cada autor, relacionado con el año de publicación , si hay más años se pasa a la siguiente fila y se muestran los datos de este

**conclusión**: Con groupby, junto con otras funciones, es posible hacer múltiples combinaciones, ya sea por la llave de agrupamiento  `df.gropuby('columa')` 
* ó por resultados que se tenfan en funciones de agregación `agg()`